<section class="benefits">
    <div class="container"> 
        <div class="organic-food-picture">
        <img 
        src="/images/img-benefits/webp/benefits-banner.webp"
        srcset="/images/img-benefits/webp/benefits-banner.webp 1x,
        /images/img-benefits/webp/benefits-banner@2x.webp 2x" 
        alt="Organic products"
        width="343">
        </div>

        <div class="organic-food-benefits">
        <h1 class="container-benefits-title">Why Choose Organic?</h1>
    <p class="container-benefits-text">Organic products offer a healthier choice for you and your family. With no synthetic pesticides or GMOs, you can enjoy better nutrition and natural flavors while supporting sustainable farming practices.
    </p>
<ul class="container-benefits-list">
    <li class="benefits-list-item">
        <svg class="benefits-item-icon" width="48" height="48">
          <use href="/images/icons.svg#icon-health"></use>
        </svg>
        <h2 class="benefits-item-title">
            Better for Your Health
        </h2>
        <p class="benefits-item-text">
            Organic foods are grown without synthetic chemicals, making them safer for your body. They're rich in antioxidants and nutrients that support your immune system and long-term well-being.
        </p>
    </li>
    <li class="benefits-list-item">
<svg class="benefits-item-icon" width="48" height="48">
  <use href="/images/icons.svg#icon-planet"></use>
</svg>
<h2 class="benefits-item-title">
    Protecting the Planet
</h2>
<p class="benefits-item-text">
    Organic farming reduces pollution, conserves water, and improves soil health. By choosing organic, you're helping build a cleaner, more sustainable environment for future generations.
</p>
    </li>
    <li class="benefits-list-item">
<svg class="benefits-item-icon" width="48" height="48">
  <use href="/images/icons.svg#icon-restaurant"></use>
</svg>
    <h2 class="benefits-item-title">Fruits & Vegetables</h2>
    <p class="benefits-item-text">
        Freshly picked organic produce delivered straight from local farms to your table.
    </p>
    </li>
    <li class="benefits-list-item">
    <svg class="benefits-item-icon" width="48" height="48">
      <use href="/images/icons.svg#icon-cheese"></use>
    </svg> 
    <h2 class="benefits-item-title">Dairy Products</h2>   
    <p class="benefits-item-text">
        Creamy, organic dairy options that are both delicious and ethically sourced.
    </p>
    </li>
</ul>
</div>
    </div>
</section>
