<section class="contacts">
  <div class="container">
    <div class="contacts-content">
      <div class="contacts-title">
        <div class="tagline-wrapper">
          <h2 class="tagline">Contacts</h2>
          <div class="title-content">
            <h1 class="first-title">Get in Touch</h1>
            <p class="title-description">We'd love to hear from you anytime!</p>
          </div>
        </div>
      </div>

      <div class="contacts-address">
        <address class="contacts-list">
          <ul class="contact-tab">
            <li>
              <svg class="contacts-svg" width="24" height="24">
                <use href="#icon-email"></use>
              </svg>
              <a class="contact-link" href="mailto:hello@organicstore.com"
                >hello@organicstore.com</a
              >
            </li>
            <li>
              <svg class="contacts-svg" width="24" height="24">
                <use href="#icon-phone"></use>
              </svg>
              <a class="contact-link" href="tel:+15553291024"
                >+1 (555) 329-1024</a
              >
            </li>
          </ul>
        </address>
      </div>

      <form action="#" method="POST" novalidate>
        <div class="inp-wrp">
          <label class="name-label" for="user-name">Name</label>
          <div class="name-wrp">
            <input
              class="name-input"
              type="text"
              name="user-name"
              id="user-name"
              placeholder="Sarah"
              pattern="^[a-zA-Z\s\.]{5,64}$"
              required
            />
            <p class="text-invalid">Error text</p>
          </div>
        </div>

        <div class="inp-wrp">
          <label class="name-label" for="email">Email</label>
          <div class="name-wrp">
            <input
              class="email-input"
              type="email"
              name="email"
              id="email"
              placeholder="hello@organic.com"
              pattern="([A-Za-z0-9_.-]{1,})@([A-Za-z0-9_.-]{1,})\.([A-Za-z]{2,8})"
              required
            />
            <p class="text-invalid">Error text</p>
          </div>
        </div>

        <div class="inp-wrp">
          <label class="name-label" for="user-message">Message</label>
          <div class="name-wrp">
            <textarea
              class="text-input"
              name="user-message"
              id="user-message"
              rows="7"
              cols="30"
              maxlength="200"
              placeholder="Type your message..."
              required
            ></textarea>
            <p class="text-invalid">Error Text</p>
          </div>
          <button class="btn-submit" type="submit">Submit</button>
        </div>
      </form>

      <div class="contact-picture">
        <picture>
          <source srcset="./images/contact.webp" type="image/webp" />
          <img src="./images/contact.jpg" alt="Contact image" />
        </picture>
      </div>
    </div>
  </div>
</section>
