<!-- feedbacks section -->
<section class="feedbacks">
  <div class="container feedbacks-container">
    <div class="feedbacks-header">
      <h2 class="feedbacks-title">What Our Customers Say</h2>
      <p class="feedbacks-slogan">
        We’re proud to grow a community that values health, sustainability, and
        real flavor. Read what our happy customers have to say about their
        experience with our organic products.
      </p>
    </div>

    <ul class="feedbacks-list">
      <!-- CARD 1 -->
      <li class="feedbacks-item">
        <div class="feedbacks-card">
          <div class="feedbacks-stars">
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </div>

          <p class="feedbacks-comment">
            Their eco-friendly packaging is a big plus for me. Highly recommend!
          </p>

          <div class="feedbacks-user">
            <img
              src="./images/avatar-1.jpg"
              alt="Tony Lee"
              class="feedbacks-avatar"
            />
            <p class="feedbacks-name">Tony Lee</p>
          </div>
        </div>
      </li>

      <!-- CARD 2 -->
      <li class="feedbacks-item">
        <div class="feedbacks-card">
          <div class="feedbacks-stars">
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </div>

          <p class="feedbacks-comment">
            "I absolutely love the variety of organic produce available here.
            Everything is fresh and bursting with flavor!"
          </p>

          <div class="feedbacks-user">
            <img
              src="./images/avatar-2.jpg"
              alt="Emily Johnson"
              class="feedbacks-avatar"
            />
            <p class="feedbacks-name">Emily Johnson</p>
          </div>
        </div>
      </li>

      <!-- CARD 3 -->
      <li class="feedbacks-item">
        <div class="feedbacks-card">
          <div class="feedbacks-stars">
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </div>

          <p class="feedbacks-comment">
            "The staff is incredibly knowledgeable and always willing to help me
            find what I need. Great service!"
          </p>

          <div class="feedbacks-user">
            <img
              src="./images/avatar-3.jpg"
              alt="Michael Smith"
              class="feedbacks-avatar"
            />
            <p class="feedbacks-name">Michael Smith</p>
          </div>
        </div>
      </li>

      <!-- CARD 4 -->
      <li class="feedbacks-item">
        <div class="feedbacks-card">
          <div class="feedbacks-stars">
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </div>

          <p class="feedbacks-comment">
            "I've noticed a significant improvement in my health since switching
            to their organic products. Highly recommend!"
          </p>

          <div class="feedbacks-user">
            <img
              src="./images/avatar-4.jpg"
              alt="Sarah Davis"
              class="feedbacks-avatar"
            />
            <p class="feedbacks-name">Sarah Davis</p>
          </div>
        </div>
      </li>

      <!-- CARD 5 -->
      <li class="feedbacks-item">
        <div class="feedbacks-card">
          <div class="feedbacks-stars">
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </div>

          <p class="feedbacks-comment">
            "The range of organic snacks is fantastic! Perfect for my kids."
          </p>

          <div class="feedbacks-user">
            <img
              src="./images/avatar-5.jpg"
              alt="David Brown"
              class="feedbacks-avatar"
            />
            <p class="feedbacks-name">David Brown</p>
          </div>
        </div>
      </li>

      <!-- CARD 6 -->
      <li class="feedbacks-item">
        <div class="feedbacks-card">
          <div class="feedbacks-stars">
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </div>

          <p class="feedbacks-comment">
            "I appreciate that they source local ingredients. It feels
            authentic!"
          </p>

          <div class="feedbacks-user">
            <img
              src="./images/avatar-6.jpg"
              alt="Jessica Wilson"
              class="feedbacks-avatar"
            />
            <p class="feedbacks-name">Jessica Wilson</p>
          </div>
        </div>
      </li>

      <!-- CARD 7 -->
      <li class="feedbacks-item">
        <div class="feedbacks-card">
          <div class="feedbacks-stars">
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </div>

          <p class="feedbacks-comment">
            "The prices are fair for the quality. Totally worth it."
          </p>

          <div class="feedbacks-user">
            <img
              src="./images/avatar-7.jpg"
              alt="Andrew Lee"
              class="feedbacks-avatar"
            />
            <p class="feedbacks-name">Andrew Lee</p>
          </div>
        </div>
      </li>

      <!-- CARD 8 -->
      <li class="feedbacks-item">
        <div class="feedbacks-card">
          <div class="feedbacks-stars">
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg width="20" height="19">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </div>

          <p class="feedbacks-comment">
            "Their eco-friendly packaging is a big plus for me. Love it!"
          </p>

          <div class="feedbacks-user">
            <img
              src="./images/avatar-8.jpg"
              alt="Laura Kim"
              class="feedbacks-avatar"
            />
            <p class="feedbacks-name">Laura Kim</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
