<footer class="footer">
  <div class="footer-container">
    <div class="footer-top">
      <a class="logo-link" href="./index.html">
        <svg class="logo-icon" width="162" height="70">
          <use href="images/icons.svg#icon-logo"></use>
        </svg>
      </a>

        <ul class="nav-footer" aria-label="footer-navigation">
          <li class="nav-item">
            <a class="nav-link" href ="./index.html" aria-label="Go to Home page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#mission" aria-label="Read about our Mission">Mission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#benefits" aria-label="View our Benefits">Benefits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#assortment" aria-label="Browse our Assortment">Assortment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#feedbacks" aria-label="Read customer Feedbacks">Feedbacks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#questions" aria-label="Frequently Asked Questions">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacts" aria-label="Get in touch via Contacts">Contacts</a>
          </li>
        </ul>
      </nav>

      <ul class="social-links" aria-label="Social media links">
        <li>
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer"
            class="link"
            aria-label="Facebook"
          >
            <svg class="social-icon" width="27" height="27">
              <use href="images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noreferrer"
            class="link"
            aria-label=" Instagram"
          >
            <svg class="social-icon" width="27" height="27">
              <use href="images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://x.com/"
            target="_blank"
            rel="noreferrer"
            class="link"
            aria-label="X"
          >
            <svg class="social-icon" width="27" height="27">
              <use href="images/icons.svg#icon-social-x"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/"
            target="_blank"
            rel="noreferrer"
            class="link"
            aria-label="Linkedin "
          >
            <svg class="social-icon" width="27" height="27">
              <use href="images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/"
            target="_blank"
            rel="noreferrer"
            class="link"
            aria-label="Youtube"
          >
            <svg class="social-icon" width="27" height="27">
              <use href="images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="copyright">&#169; 2025 Organic Shop. All rights reserved.</p>
  </div>
</footer>
