<footer class="footer">
  <h1>footer</h1>
  <div class="footer-container">
    <a href="./index.html">
      <svg class="logo-icon" width="162" height="70">
        <use href="images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <ul class="nav-footer">
      <li class="nav-item">
        <a class="nav-link" href="#hero">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#mission">Mission</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#benefits">Benefits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#assortment">Assortment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#feedbacks">Feedbacks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#questions">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contacts">Contacts</a>
      </li>
    </ul>

    <div class="social-links">
      <ul>
        <li>
          <a href="https://www.facebook.com/" target="_blank" class="link">
            <svg class="social-icon" width="27" height="27">
              <use href="images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank" class="link">
            <svg class="social-icon" width="27" height="27">
              <use href="images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://x.com/" target="_blank" class="link">
            <svg class="social-icon" width="27" height="27">
              <use href="images/icons.svg#icon-social-x"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/" target="_blank" class="link">
            <svg class="social-icon" width="27" height="27">
              <use href="images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/" target="_blank" class="link">
            <svg class="social-icon" width="27" height="27">
              <use href="images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="copyright">&#169; 2025 Organic Shop. All rights reserved.</p>
  </div>
</footer>
