<header class="header">
    <div class="container header-container">
            <a class="logo" href="./index.html" aria-label="Back to home">
                <svg class="logo-icon" width="142" height="60">
                <use href="/images/icons.svg#icon-logo"></use>
                </svg>
            </a>

            <nav class="main-nav">
                <ul class="header-nav-list">
                    <li><a class="header-nav-item" href="./index.html" aria-label="Go to Home page">Home</a></li>
                    <li><a class="header-nav-item" href="#mission" aria-label="Read about our Mission">Mission</a></li>
                    <li><a class="header-nav-item" href="#benefits" aria-label="View our Benefits">Benefits</a></li>
                    <li><a class="header-nav-item" href="#assortment" aria-label="Browse our Assortment">Assortment</a></li>
                    <li><a class="header-nav-item" href="#feedbacks" aria-label="Read customer Feedbacks">Feedbacks</a></li>
                    <li><a class="header-nav-item" href="#questions" aria-label="Frequently Asked Questions">FAQ</a></li>
                    <li><a class="header-nav-item" href="#contacts" aria-label="Get in touch via Contacts">Contacts</a></li>
                    <li><a class="header-nav-item header-btn-order" href="#assortment" aria-label="Place an Order">Order</a></li>
                </ul>
            </nav>

            <button class="burger-btn" type="button" aria-label="Open navigation menu">
                <svg class="burger-icon" width="32" height="32">
                <use href="/images/icons.svg#icon-burger"></use>
                </svg>
            </button>
    </div>

</header>

