/* SECTION */
.assorts {
  padding: 64px 0;
  background: #d1ddcc;
}

@media only screen and (min-width: 1440px) {
  .assorts {
    padding: 112px 0;
  }
}

/* TITLES */
.assorts-title-third {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.assorts-title-second {
  width: 344px;
  font-family: var(--second-family);
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 32px;
}

@media only screen and (min-width: 1440px) {
  .assorts-title-second {
    font-size: 48px;
    width: 768px;
  }
}

/* LIST */
.assorts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* CARD */
.assorts-item {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* IMAGE */
.assorts-img {
  margin-bottom: 16px;
}

.assorts-img img {
  width: 100%;
  display: block;
}

/* CONTENT */
.assorts-main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-grow: 1;
}

@media only screen and (min-width: 1440px) {
  .assorts-main-wrapper {
    margin-bottom: 32px;
  }
}

/* LEFT TEXT */
.assorts-wrapper-fist {
  max-width: 236px;
  display: flex;
  flex-direction: column;
}

/* TITLE */
.assorts-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

/* DESCRIPTION */
.assorts-description {
  font-size: 14px;
  line-height: 1.5;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* PRICE */
.assorts-wrapper-second {
  width: 58px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.assorts-price {
  font-weight: 600;
  font-size: 20px;
}

.assorts-price-info {
  font-size: 12px;
  line-height: 1.3;
  text-align: right;
}

/* BUTTON */
.add-to-cart {
  margin-top: auto;
  height: 40px;
  width: 100%;

  border: 1px solid rgba(1, 4, 0, 0.15);
  border-radius: 6px;

  font-size: 16px;

  transition: 250ms;
}

.add-to-cart:hover {
  background: #1a5901;
  color: #fff;
}

/* TABLET */
@media only screen and (min-width: 768px) {
  .assorts-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .assorts-item {
    flex-basis: calc((100% - 16px) / 2);
  }
}

/* DESKTOP */
@media only screen and (min-width: 1440px) {
  .assorts-list {
    gap: 24px;
  }

  .assorts-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}
