.header {
    padding-top: 6px;
    padding-bottom: 6px;
    background: var(--color-scheme-1-background);
    position: relative;
    z-index: 15;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-item {
    display: none;
}

.logo-icon {
    display: block;
    width: 142px;
    height: 60px;
    fill: var(--color-scheme-3-text);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-icon:hover,
.logo-icon:focus{
    opacity: 0.5;
}

.burger-btn {
    display: block;
    width: 32px;
    height: 32px;
    fill: var(--color-scheme-1-text);
}

.burger-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-icon:active {
    fill: var(--color-scheme-2-text);
}

@media only screen and (min-width: 768px) {
    .main-nav {
        margin-inline: auto 16px;
    }
    
    .header-nav-item {
        padding-block: 6px;
    }

    .header-btn-order {
        display: block;

        font: 500 16px / 1.5 var(--font-family);
        color: var(--color-white);

        border: 1px solid var(--color-japanese-laurel);
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
        border-radius: 6px;
        padding: 4px 24px;
        width: 92px;
        height: 32px;

        background: var(--color-japanese-laurel);

        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-btn-order:focus{
        border: 1px solid var(--color-white);
        background: var(--color-scheme-3-text);
        color: var(--color-neutral-darkest);
    }

    .header-btn-order:active{
        border: 1px solid var(--color-scheme-3-text);
        box-shadow: inset 2px 7px 27px -4px rgba(0, 0, 0, 0.15);
        background: var(--color-scheme-3-text);
    }


    .burger-btn {
        width: 44px;
        height: 44px;
    }

    .burger-icon {
        width: 24px;
        height: 24px;
    }
}
    
@media only screen and (min-width: 1440px) {
    .header-nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }

    .header-nav-item {
        display: block;
        font: 400 16px / 1.5 var(--font-family);
        color: var(--color-scheme-1-text);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav-item:hover,
    .header-nav-item:focus{
        opacity: 0.5;
    }

    .header-nav-item:active{
        opacity: 0.6;
    }


    .header-btn-order:hover{
        border: 1px solid var(--color-white);
        background: var(--color-scheme-3-text);
        color: var(--color-neutral-darkest);
    }

    .burger-btn {
        display: none;
    }

    .header-btn-order {
        display: block;
    }
}
